<div>
  <input type="text" (input)="changeFilter($event)" />
  <br />
  <table>
    <tr *ngFor="let product of filteredProducts()">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
    </tr>
  </table>
</div>

<hr />
<button (click)="changeTheme()">Toggle</button>
<p>{{ label }}</p>
<br />
<p>{{ price }}</p>
<input
  type="number"
  value="{{ quantity() }}"
  (change)="changeQuantity($event)"
/>
<p>{{ totalPrice() }}</p>
<br />
<router-outlet></router-outlet>
